{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 8 }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 8 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "browsers": ["chrome >= 63","firefox >= 58"],
          "modules": false
        }],
        "stage-0",
      ]
    },
    "web": {
      "presets": [
        ["es2015"],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
