.el-custom
{
  .el-dialog__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0;
    background-color: #1d8ce0;
    div,i{
      color: #fff;
    }
    .dialog-title-wrap{
      line-height: 80px;
      font-size: 36px;
      text-align: center;
      color: #ffffff;
      .back{
        color: #ffffff;
        font-size: 40px;
        padding: 0 40px;
        cursor: pointer;
      }
    }
  }
  .el-dialog__body {
    position: absolute;
    padding: 0;
    top: 80px;
    bottom: 80px;
    left: 0;
    right: 0;
  }
  .el-dialog{
    .el-transfer__buttons{
      width: 20%;
      .el-transfer__button:nth-child(2) {
        margin: 0 auto;
      }
    }

  }
}
