/* 调整 el-dialog 样式，使全屏对话框露出 上部logo和左侧菜单区域 */
.cel-window{
  .el-dialog__wrapper{
    top: 50px;
    left: 50px;
  }
  .el-dialog{
    width: 100%;
    height: 100%;
    margin: 0;
    .title-wrap{
      text-align: center;
      line-height: 50px;
      .el-icon-back{
        margin: 0 10px;
      }
    }

    .el-dialog__header{
      position: relative;
      height: 56px;
      background-color: #cecece;
      padding: 0;
    }
    .el-dialog__body{
      position: absolute;
      top: 56px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      overflow-y: auto;
    }
  }
}

/*ele 对话框 非全屏 样式 自定义*/
.cel-dialog{

  .el-dialog__header{
    border-bottom: 1px solid #d3dce6;
  }
  .el-dialog__title {
    font-size: 20px;
    color: #ef0a6b;
    font-weight: bold;
  }
  .el-dialog__footer{
    border-top: 1px solid #d3dce6;
  }
}

.cel-scrollable-table{
  height: 100%;
  >.el-table__body-wrapper {
      position: absolute;
      top: 38px;
      bottom: 0;
      overflow-y: auto;
  }
  td {  padding: 6px;  }
  th {  padding: 6px;  }
}

.el-icon-remove-outline, .el-icon-back, .el-icon-close{
  cursor: pointer;
}
